---
layout: default
title: tags
permalink: /tags/
---

{% capture site_tags %}
{% for tag in site.tags %}
{{ tag | first }}{% unless forloop.last %},{% endunless %}
{% endfor %}
{% endcapture %}

{% assign tags_list = site_tags | split:',' | sort %}

<ul>
  {% for item in (0..site.tags.size) %}
  {% unless forloop.last %}
    {% capture this_tag %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
  	<li class="tag-index">
      <a href="#{{ this_tag }}">
        <span>{{ this_tag }}</span>
        <span class="count">{{ site.tags[this_tag].size }}</span>
      </a>
    </li>
  {% endunless %}
  {% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
   {% capture this_tag %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
   <div class="tag-title" id="{{ this_tag }}">
      {{ this_tag }}
   </div>
   {% for post in site.tags[this_tag] %}
      {% if post.title != null %}
      <span class="tag-post">
         {% if post.link %}
         <a href="{{ post.link }}">
         {% else %}
         <a href="{{ post.url | prepend: site.baseurl }}">
         {% endif %}  
            {{ post.title }}
         </a>
      </span>
      {% endif %}
   {% endfor %}
{% endunless %}
{% endfor %}
