<h1>Follow me at:</h1>
<div>
  <a class="icon" target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
    <img src="{{ site.baseurl }}/icons/linkedin.png">
  </a>
  <a class="icon" target="_blank" href="https://github.com/{{ site.author.github }}">
    <img src="{{ site.baseurl }}/icons/github.png">
  </a>
  <a class="icon" target="_blank" href="https://twitter.com/{{ site.author.twitter }}">
    <img src="{{ site.baseurl }}/icons/twitter.png">
  </a>
  <a class="icon" target="_blank" href="https://www.facebook.com/{{ site.author.facebook }}">
    <img src="{{ site.baseurl }}/icons/facebook.png">
  </a>
  <a class="icon" target="_blank" href="https://www.instagram.com/{{ site.author.facebook }}">
    <img src="{{ site.baseurl }}/icons/instagram.png">
  </a>
  <a class="icon" target="_blank" href="feed.xml">
    <img src="{{ site.baseurl }}/icons/feed-rss.png">
  </a>
</div>
