<head>
  <meta charset="utf-8">
  <meta name="viewport" content="widt=device-width, initial-scale=1">
  <meta name="author" content="Xavier Teruel">
  <meta name="description" content="Xavier Teruel's professional portfolio"/>
  <meta name="keywords" content="OpenMP, MPI, CUDA, OpenCL, OmpSs, C, C++, Fortran, Programming, High performance computing, Supercomputing, Parallel programming models, Shared memory, Distributed memory, Runtime libraries, Tutorials, Courses, Programación, Computación de altas prestaciones, Supercomputacion, Modelos de programación paralela, Memoria compartida, Memoria distribuida, Librerias runtime, Tutoriales, Cursos">

  <title>{{ site.name }}'s {{ page.title }}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110896165-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110896165-1');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
</head>
