<head>
  <meta charset="utf-8">
  <meta name="viewport" content="widt=device-width, initial-scale=1">
  <title>{{ site.name }}'{{ page.kind }}: {{ page.title }}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110896165-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-110896165-1');
  </script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" type="text/css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/snet.css" type="text/css">

  <!-- RSS Feed -->
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{ site.name }}" href="{{ site.baseurl }}/feed.xml" />
</head>
