<hr>
<div>
  <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">
    <img class="icon" src="icons/linkedin.png">
  </a>
  <a class="icon" href="https://github.com/{{ site.author.github }}">
    <img class="icon" src="icons/github.png">
  </a>
  <a href="https://twitter.com/{{ site.author.twitter }}">
     <img class="icon" src="icons/twitter.png">
  </a>
  <a href="https://scholar.google.es/citations?user={{ site.author.google-scholar }}">
     <img class="icon" src="icons/google-scholar.png">
  </a>
  <a href="https://orcid.org/{{ site.author.orcid }}">
    <img  class="icon" src="icons/orcid.png">
  </a>
  <a href="http://www.researcherid.com/rid/{{ site.author.researcher-id }}">
     <img class="icon" src="icons/researcher-id.png">
  </a>
  <a href="https://www.researchgate.net/scientific-contributions/{{ site.author.research-gate }}">
     <img class="icon" src="icons/research-gate.png">
  </a>
  <a href="https://www.facebook.com/{{ site.author.facebook }}">
     <img class="icon" src="icons/facebook.png">
  </a>
</div>
