.header {
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;
  text-align: left;
  margin-left:  0rem;
  margin-right: 0rem;
  @media (max-width: 1000px) {
    padding: 1rem 1rem;
  }

  &-title {
    font-weight: 300;
    a {
      color: $base-color;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: lighten($base-color, 60);
    }

  }

  &-nav {
    a {
      color: lighten($base-color, 50);
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: $base-color;
        text-decoration: none;
      }

      + a {
        margin-right: .25rem;
      }
    }
  }
}

