.side {
  float: left;
  width: 30%;
  padding: 0.25rem 0.25rem;

  .box {
    padding-left:    0.50rem;
    padding-top:     0.75rem;
    padding-right:   0.50rem;
    padding-bottom:  0.75rem;
    box-sizing: border-box;
    background-color: $background-side-color;
    border-radius: 25px;
  }
  @media (max-width: 1000px) {
    width: 100%;
  }

  a {
     color: $base-color;
     &:hover {
        color: $base-color;
        text-decoration: none;
        background-color: $background-over-color;
        border-color: transparent;
     }
  }
  &-title {
     font-size : 1.2rem;
     font-weight: 600;
     display: block;
  }
  &-date {
     font-size: .75rem;
     color: $base-lighten-color;
     text-transform: uppercase;
     display: block;
  }
  &-excerpt {
     font-size : 1rem;
     display: block;
  }

  &-link {
    margin: .2rem;
    a {
      color: $base-color;
      margin: 4px;
    }
  }

}

