<hr>
<div align="center">
  <a target="_blank" href="https://scholar.google.es/citations?user={{ site.author.google-scholar }}">
    <img class="icon" src="{{ site.baseurl }}/assets/icons/google-scholar.png">
  </a>
  <a target="_blank" href="https://orcid.org/{{ site.author.orcid }}">
    <img class="icon" src="{{ site.baserul }}/assets/icons/orcid.png">
  </a>
  <a target="_blank" href="http://www.researcherid.com/rid/{{ site.author.researcher-id }}">
    <img class="icon" src="{{ site.baseurl }}/assets/icons/researcher-id.png">
  </a>
  <a target="_blank" href="https://www.researchgate.net/scientific-contributions/{{ site.author.research-gate }}">
    <img class="icon" src="{{ site.baseurl }}/assets/icons/research-gate.png">
  </a>
  <a target="_blank" href="https://www.scopus.com/authid/detail.uri?authorId={{ site.author.scopus }}">
    <img class="icon" src="{{ site.baseurl }}/assets/icons/scopus.png">
  </a>
</div>
