<h1>Technical skills</h1>
<ul>
  	<li class="skill">
      <span>Computer Science</span>
      <span class="level">25</span>
   </li>
  	<li class="skill">
      <span>High Performance Computing</span>
      <span class="level">21</span>
   </li>
  	<li class="skill">
      <span>Parallel Computing</span>
      <span class="level">18</span>
   </li>
  	<li class="skill">
      <span>Programming</span>
      <span class="level">11</span>
   </li>
  	<li class="skill">
      <span>C++</span>
      <span class="level">19</span>
   </li>
  	<li class="skill">
      <span>C</span>
      <span class="level">16</span>
   </li>
  	<li class="skill">
      <span>Parallel Programming</span>
      <span class="level">9</span>
   </li>
  	<li class="skill">
      <span>OpenMP</span>
      <span class="level">18</span>
   </li>
  	<li class="skill">
      <span>CUDA</span>
      <span class="level">5</span>
   </li>
  	<li class="skill">
      <span>OpenCL</span>
      <span class="level">3</span>
   </li>
  	<li class="skill">
      <span>MPI</span>
      <span class="level">9</span>
   </li>
  	<li class="skill">
      <span>OmpSs</span>
      <span class="level">8</span>
   </li>
</ul>
