<img class="figure" align="left" src="{{ site.baseurl }}/xteruel.png">

<p>Welcome to my personal website. My name is Xavier and I am a computer
engineer currently working and living in Barcelona (Spain). I must admit that I
like very much this city that, by the way, I think is one of the best places
in which you can live from all over the world.</p>
 
<p>The main purpose of these pages is to offer an overview of my professional
profile. I will show a list of the projects in which I have participated (or I
am currently participating); a list of the publications and talks that I have
done (or I am currently doing); and finally some other events in which I have
been involved in (or I am still involved in) because of my job.  All in all, it
is a kind of professional portfolio.</p>

<p>Thank you for reading and visiting these pages. I hope that you will find
them interesting.</p>

