<img class="figure" align="left" src="xteruel.png">

<p>Welcome to my personal website. My name is Xavier and I am a computer engineer
currently working and living in Barcelona (Spain). I must admit that I am in
love with this city and I actually think this is one of the best places in which you can
live from all over the world.</p>
 
<p>The main purpose of these pages is to offer an overview of my professional
profile. I will show a list of my publications, talks (including tutorials,
presentations, demos and other teaching activities), projects in which I have
participated and some other events in which I am involved in because of my job.
All in all, it is a kind of professional portfolio.</p>

<p>Thank you for reading and visiting these pages. I hope that you will find
them interesting.</p>

