---
layout: default
---
<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <span class="post-teaching">
     <span class="pair">
        <span class="key">Venue:</span>
        {% if page.place %}
           {% if page.venue %}
        <span class="value">{{ page.venue }}. {{ page.place }}.</span>
           {% else %}
        <span class="value">{{ page.place }}.</span>
           {% endif %}
        {% endif %}
     </span>
     <span class="pair">
        <span class="key">Event date:</span>
        {% if page.event %}
           {% if page.close %}
        <span class="value">From {{ page.event | date_to_string }} to {{ page.close | date_to_string }}.</span>
           {% else %}
        <span class="value">{{ page.event | date_to_string }}.</span>
           {% endif %}
        {% endif %}
     </span>
  </span>
  {{ content }}
</div>
