---
layout: common
---
<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>
  <span class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </span>
  <!--
  <div class="post-tag">
    <ul>
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}" class="tag">
          <span class="term">{{ tag }}</span>
        </a>
      </li>
      {% unless forloop.last %}{% endunless %}
      {% endfor %}
    </ul>
  </div>
-->

  {% if page.kind == "teaching" %} {% include post-teaching.html %} {% endif %}
  {% if page.kind == "publication" %} {% include post-publication.html %} {% endif %}
  {% if page.kind == "blog" %} {% include post-blog.html %} {% endif %}
  {{ content }}

</div>
