---
layout: default
---
<div class="post">
  <h2 class="post-title">{{ page.title }}</h2>

  {% if post %}
    {% assign cat = post.categories | first %}
  {% else %}
    {% assign cat = page.categories | first %}
  {% endif %}

  {{ content }}

  <h3>Related entries of the project:</h3>

  {% for pub in site.categories["projects"] %}

   {% if pub.categories contains cat %}
   <ul class="list-item"> 
      <li>
      {% if pub.people %} <span class="people">{{ pub.people }}.</span>{% endif %}
      <a href="{{ pub.url | prepend: site.baseurl }}">
         <span class="title">{{ pub.title }}</span>.
      </a>
      <span class="info">{{ pub.info }}</span>
      {% if pub.event %}
         {% if pub.close %}
            <span class="event">From {{ pub.event | date_to_string }} to {{ pub.close | date_to_string }}.</span>
         {% else %}
            <span class="event">{{ pub.event | date_to_string }}.</span>
         {% endif %}
      {% endif %}
      <span class="venue">{{ pub.venue }}</span>
      </li>
   </ul>
   {% endif %}
   {% endfor %}

</div>
