---
layout: default
title: publications
---
{% assign numPosts = site.categories["publications"] | size %}
{% for pub in site.categories["publications"] %}
   <a href="{{ pub.url | prepend: site.baseurl }}">
   <span class="list-item">
      {% if numPosts < 10 %}
         {% assign ID = numPosts | to_string | prepend: 0 %}
      {% else %}
         {% assign ID = numPosts | to_string %}
      {% endif %}
      <span class="id"> [{{ID}}] </span>
      <span class="people">{{ pub.people }}.</span>
      <span class="title">{{ pub.title }}.</span>
      <span class="info">{{ pub.info }}.</span>
      <span class="event">{{ pub.event | date: "%B, %Y" }}.</span>
      <span class="venue">{{ pub.venue }}.</span>
   </span>
   </a>
   {% assign numPosts = numPosts | minus: 1 %}
{% endfor %}

